:root {
    --slider-height: 660px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

p {
    margin: 30px 0;
}

img {
    max-width: 100%;    
    height: auto;
}

strong {
    font-weight: bold;
}

.header {       
    padding: 14px 0;
    background-color: black; 
    position: sticky;   
    top: 0;
    z-index: 10;
}

.text-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: initial;
}

.bg-dark .text-title {
    color: white;
}

.bg-light .text-title {
    color: black;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;    
    margin-left: -15px;
    margin-right: -15px;            
}

.header .col-xs-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    list-style-type: none;    
    font-weight: 600;
    font-size: 14px;
    padding: 16px 0;
    overflow-x: auto;
    text-transform: uppercase;
}

.menu a {    
    padding: 8px;
    color: #a4aead;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 5px;
}

.menu .menu-item-highlighted {
    color: #23b7a3;
    border-color: #23b7a3;
}

.menu a:hover {
    color: #a4aead;
    border-color: #5a6068;
}

.form-search {
    display: none;
}

.btn-bar {
    display: flex;
    column-gap: 10px;
}

.btn {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    width: 123px;
    height: 45px;    
    text-transform: uppercase;
}

.btn:hover {
    background-color: #23b7a3;
    border-color: #23b7a3;
}

.slider {
    height: var(--slider-height);
    background: url('../img/slider.png') ;
}

.slider .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;    
    height: var(--slider-height);
}

.slider h1 {
    color: white;
}

.slider-text {
    color: #ccd0d7;
}

.circle-btn {
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.circle-btn-selected {
    background-color: white;
}

.circle-btn-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 5px;
    height: 60px;
}

.bg-dark .section-header {
    color: white;
    border-color: #4e5a62;
}

.bg-light .section-header { 
    color: black;
    border-color: #e1e6ea;
}

.bg-light {
    color: #abadaf;
    background-color: white;
}

.bg-dark {
    color: #dcdfe1;
    background-color: #3a454d;
}

.section-header {
    padding-left: 10px;    
    border-left: 10px solid;    
    margin: 80px 0 30px;    
}

.section:nth-child(3) {
    border-bottom: 1px solid #dde1e4;
}

.icon-bar {
    display: flex;
    column-gap: 2px;
    flex-wrap: wrap;
    align-content: center;
}

.social-icon-bar-1 > a, .social-icon-bar-2 > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-bar-1 > a {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-top: 4px;
}

.social-icon-bar-2 > a {
    width: 31.25%;
    height: 31.25%;
    background-color: #3a454d;
}

.social-icon-bar-3 > a {
    width: 48px;
    height: 48px;
}

.social-icon-bar-3 > a:hover {
    background-color: #4e5a62;
}

.social-icon-bar-1 > a:hover {
    background-color: #d0d5d9;
}

.social-icon-bar-2 > a:hover {
    background-color: #4e5a62;
}

.enum-list .text-title {     
    font-size: 18px;    
}

.enum-list {
    counter-reset: i;
}

.enum-list > li {
    position: relative;
    margin-left: 65px;
}

.enum-list > li::before {
    display: inline-block;
    position: absolute;
    left: -65px;
    width: 50px;
    height: 50px;
    content: counter(i, decimal-leading-zero);
    counter-increment: i;
    background-color: #23b7a4;
    text-align: center;
    line-height: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.enum-list > li {
    margin-top: 30px;
}

.enum-list > li:first-child {
    margin-top: 0;
}

.card {    
    display: flex;
    flex-direction: column;    
}

.card .icon-bar {
    display: none;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.card:hover > .photo > img {
    opacity: 40%;
}

.card:hover > .info {
    background-color: #3a454d;    
}

.card:hover .position, .card:hover .text-title {
    color: white;
}

.card:hover .icon-bar {
    display: flex;
}

.card > .photo {
    position: relative;     
    display: flex;   
    flex-direction: column;
}

.card > .info {    
    background-color: #e1e6ea;
    padding: 20px 20px;
    line-height: 1.5em;
}

.card .position {
    color: #8d8f92;    
    font-size: 14px;
}

.sample {    
    position: relative;    
}

.sample .description {    
    background-color: #292f36;    
    padding: 30px 0 30px 20px;    
}

.sample .text-title {
    font-size: 18px;    
}

.sample .cross {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
}

.sample:hover > .wrapper {
    display: flex;
}

.sample > img {    
    width: 100%;    
    height: auto;    
}

.sample > .wrapper {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.service {
    text-align: center;
}

.service > .text-title {
    font-size: 17px;
}

.feature > .text-title {
    font-size: 18px;
}

.feature > img {    
    width: 100%;    
    height: auto;    
}

.footer {
    padding: 5px 0;
}

.footer .row {
    flex-wrap: wrap-reverse;
}

.footer [class*="col-"] {
    display: flex;
    align-items: center;
}

.footer [class*="col-xs"] {
    text-align: center;    
    justify-content: center;
}

.footer-text {
    font-size: 14px;
}

.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

[class*="col-"] {    
    padding-right: 15px;
    padding-left: 15px;    
}

.map {
    width: 100%;
    height: 350px;
    border: 0;
}

@media (min-width: 768px) {
    .container {        
        max-width: 1170px;
    }

    .circle-btn-bar {
        margin-top: 15%;            
    }

    .form-search {    
        display: flex;    
        align-self: center;
        margin-left: auto;
        justify-content: flex-end;
        border: 3px solid #5a6068;
        border-radius: 5px;    
    }
    
    .form-search > input[type="text"] {
        outline: none;
        color: #a4aead;
        background-color: transparent;
        border: none;
        padding: 8px 0;        
        font-weight: 600;
        font-size: 14px;
        width: 75%;
    }
    
    .form-search > input[type="submit"] {
        outline: none;
        background: url('../img/search.png') no-repeat center;
        border: none;
        cursor: pointer;
        width: 20%;
    }
    
    .form-search > [type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        text-transform: uppercase;
        color: #a4aead;
        opacity: 1; /* Firefox */
     }
    
     .form-search > [type="text"]::-ms-input-placeholder { /* Microsoft Edge */
        text-transform: uppercase;
        font-size: 14px;
        color: #a4aead;
    }     

    #col-footer-social-bar {    
        justify-content: flex-end;
    }

    .col-md-2 {
        flex: 0 0 16.6666667%;
        max-width: 16.6666667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }

    .col-md-5 {
        flex: 0 0 41.6666667%;
        max-width: 41.6666667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }

    .col-md-8 {
        flex: 0 0 66.6666667%;
        max-width: 66.6666667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
}