:root {
  --slider-height: 660px;
  --paragraph-padding-width: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

p {
  padding: var(--paragraph-padding-width) 0;
}

p + p {
  padding: 0 0 var(--paragraph-padding-width);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.header {
  position: sticky;
  top: 0;
  padding: 14px 0;
  background-color: black;
  z-index: 10;
}

.header [class*="col-"] {
  display: flex;
  align-items: center;  
}

.title {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: initial;
}

.text-input {
  outline: none;
  border: none;
  padding: 8px 0;
  font-size: 14px;
}

.logo {
  display: flex;  
}

.section {
  padding: 40px 0;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 16px 0;
  overflow-x: auto;    
}

.menu__link {  
  padding: 8px;
  color: #a4aead;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.menu--clicked-item {
  color: #23b7a3;
  border-color: #23b7a3;
}

.menu__link:hover {
  color: #a4aead;
  border-color: #5a6068;
}

.form-search {
  display: none;
}

.button-group {
  display: flex;
  column-gap: 10px;
}

.button {
  border: 3px solid;
  border-radius: 5px;
  background-color: transparent;
  min-width: 123px;
  height: 45px;
  text-transform: uppercase;
}

.button--theme--white {
  color: white;
  border-color: white;
}

.button--theme--silver {
  color: #959699;
  border-color: #959699;
}

.button:hover {
  color: white;
  background-color: #23b7a3;
  border-color: #23b7a3;
}

.slider-section {
  height: var(--slider-height);
  background: url('../img/slider.png');
}

.slider-section__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: var(--slider-height);
}

.slider__title {
  color: white;
}

.slider__text {
  color: #ccd0d7;
}

.radio-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 5px;
  height: 60px;
}

.radio-group__item {
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.radio-group--item-selected {
  background-color: white;
}

.section__title {
  padding-left: 10px;
  border-left: 10px solid;
}

.section__title--dark {
  color: black;
  border-color: #e1e6ea;
}

.section__title--light {
  color: white;
  border-color: #4e5a62;
}

.section--bg--light {
  color: #abadaf;
  background-color: white;
}

.section--bg--dark {
  color: #dcdfe1;
  background-color: #3a454d;
}

.service {  
  text-align: center;
}

.service__title {
  font-size: 17px;  
  margin: 30px 0;
}

.service__icon {
  margin-top: 30px;
}

#about {
  border-bottom: 1px solid #dde1e4;
}

.icon-group {
  display: flex;
  column-gap: 2px;
  flex-wrap: wrap;
  align-content: center;
}

.social-icon-group__link,
.card__socials-icon-group-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-group__link {
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  margin-top: 4px;
}

.social-icon-group__link:hover {
  background-color: #d0d5d9;
}

.card__socials-icon-group-link {
  width: 31.25%;
  height: 31.25%;
  background-color: #3a454d;
}

.card__socials-icon-group-link:hover {
  background-color: #4e5a62;
}

.enum-list {  
  counter-reset: i;
}

.enum-list__item-title {
  font-size: 18px;
}

.enum-list__item {
  position: relative;
  margin-left: 65px;
}

.enum-list__item+.enum-list__item {
  margin-top: 30px;
}

.about-section__enum_list {
  margin-top: 30px;
}

.enum-list__item::before {
  display: inline-block;
  position: absolute;
  left: -65px;
  width: 50px;
  height: 50px;
  content: counter(i, decimal-leading-zero);
  counter-increment: i;
  background-color: #23b7a4;
  text-align: center;
  line-height: 50px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.card__socials-icon-group {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.card:hover > .card__photo-img {
  opacity: 40%;
}

.card:hover > .card__info {
  background-color: #3a454d;
}

.card:hover .card__position,
.card:hover .card__name {
  color: white;
}

.card:hover .card__socials-icon-group {
  display: flex;
}

.card__photo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__info {
  background-color: #e1e6ea;
  padding: 20px 20px;
  line-height: 1.5em;
}

.card__position {
  color: #8d8f92;
  font-size: 14px;
}

.sample {
  position: relative;
  margin-top: 30px;
}

.sample__button {
  margin-top: 30px;
}

.sample__title {
  font-size: 18px;
  background-color: #292f36;
  padding: 30px 0 30px 20px;
}

.sample__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.sample:hover > .additional__info {
  display: flex;
}

.additional__info {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.sample__img {
  width: 100%;
  height: auto;
}

.feature__title {
  font-size: 18px;
  margin-top: 30px;
}

.feature__img {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.footer {
  color: #dcdfe1;
  background-color: #3a454d;
  padding: 5px 0;
}

.footer__text {
  font-size: 14px;
}

.footer__row {
  flex-wrap: wrap-reverse;
}

.footer [class*="col-"] {
  display: flex;
  align-items: center;
}

.footer [class*="col-xs"] {
  text-align: center;
  justify-content: center;
}

.footer-socials__link {
  width: 48px;
  height: 48px;
}

.footer-socials__link:hover {
  background-color: #4e5a62;
}

[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.map {
  width: 100%;
  height: 350px;
  border: 0;
}

.contact_map {
  margin-top: 30px;
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.form {
  width: 90%;
  margin: 80px auto;
  padding: 30px 30px;
  text-transform: uppercase;
  color: #959699;
  background-color: white;
}

.form__item-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.form__item {
  flex-grow: 1;
}

.form__item-group + .form__item-group {
  margin-top: 30px;
}

.form__input-textarea {
  resize: none;
}

.form__input-email, 
.form__input-text,
.form__input-textarea {
  display: block;
  background-color: #eaeef1;
  border-radius: 5px;
  width: 100%;  
}

.modal-form--visible {
  display: block;
}

.modal-form--hidden {
  display: none;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 1170px;
  }

  .radio-group {
    margin-top: 15%;
  }

  .services__row {
    margin-top: 60px;
  }

  .form-search {
    display: flex;
    align-self: center;
    margin-left: auto;
    justify-content: flex-end;
    border: 3px solid #5a6068;
    border-radius: 5px;
  }

  .form-search>input[type="text"] {
    font-weight: 600;
    color: #a4aead;
    background-color: transparent;
    width: 75%;
  }

  .form-search>input[type="submit"] {
    outline: none;
    background: url('../img/search.png') no-repeat center;
    border: none;
    cursor: pointer;
    width: 20%;
  }

  .form-search>[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: uppercase;
    color: #a4aead;
    opacity: 1;
    /* Firefox */
  }

  .form-search>[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    text-transform: uppercase;
    font-size: 14px;
    color: #a4aead;
  }

  #col-footer-social-bar {
    justify-content: flex-end;
  }

  .col-md-2 {
    flex: 0 0 16.6666667%;
    max-width: 16.6666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666667%;
    max-width: 41.6666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666667%;
    max-width: 66.6666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
  }

  .form {
    width: 33%;
  }

  .col-md--justify--center {  
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .mobile-menu {
    position: relative;
    width: 15px;
    height: 15px;  
  }
  
  .mobile-menu span {
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }
  
  .mobile-menu span:nth-child(1) {
    top: 3px;
  }

  .mobile-menu span:nth-child(2) {
    top: 7px;
  }

  .mobile-menu span:nth-child(3) {
    bottom: 3px;
  }

  .mobile-menu.mobile-menu--active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .mobile-menu.mobile-menu--active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .mobile-menu.mobile-menu--active span:nth-child(3) {
    transform: scale(0);    
  }

  .menu--view--mobile {
    transform: translateX(150%);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 280px;
    width: 280px;
    transition: 500ms ease-in-out;    
  }

  .menu--view--mobile.mobile-menu--active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 40px;
    background-color: black;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
  }

  .menu--hidden {    
    opacity: 0;
    visibility: hidden;
  }

  .col-xs--justify--flex-end {
    justify-content : flex-end;        
  }
}